/*
some styles
*/

@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
$color1: #07ffff;
$black: #141204;
$white: #f6e4f6;
$yellow: #e7e247;

$red: #f05365;
.header {
    background: linear-gradient(
        0deg,
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 5%,
        rgba(0, 0, 0, 0.515) 20%,
        rgba(0, 0, 0, 0.496) 30%,
        rgba(0, 0, 0, 0.495) 60%,
        rgba(0, 0, 0, 0.547) 80%,
        rgba(0, 0, 0, 1) 95%,
        rgba(0, 0, 0, 1) 100%
    ); /*,
        url("../img/dots.svg");

    background-repeat: repeat, no-repeat;
    background-size: cover;*/
    /*,
        url("../img/header.jpg");
    background-repeat: unset, no-repeat;
    background-size: contain, cover;
    background-position: 0, 0px;
    background-attachment: scroll, fixed;*/
    height: 100vh;
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}
.video-bg {
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

h2,
h3,
p {
    color: #fff;
}
h1 {
    font-weight: bold;
    font-family: "Madimi One";
    color: $color1;
    text-shadow: 0px 0px 5px $black;
}
.navbar {
    font-family: "Bebas Neue";
    font-size: 1.4rem;
    .nav-link {
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:active {
            background-color: $color1;

            color: #000;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            background: rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
    }
}

.footer {
    color: #fff;
    a {
        color: #fff;
    }
}
.social {
    justify-content: center;
    .nav-link {
        color: $color1;
        font-size: 2rem;
        border: 1px solid $color1;
        border-radius: 10px;
        margin: 1rem;
        &:hover {
            background-color: lighten($color1, 10%);
            color: #fff;
        }
    }
}

.contact,
.about,
.programs {
    min-height: 100vh;
    background-color: #000;
}
.footer {
    background-color: #000;
    padding: 1rem;
}

.contact {
    display: flex;
    align-items: center;
    font-family: "Bebas Neue";

    .btn.btn-primary {
        background-color: $color1;
        border: 0;
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 10px;
        color: #000;
        &:hover {
            color: lighten(#000, 20%);
            background-color: lighten($color1, 25%);
        }
    }
    form {
        .form-control {
            /* background-color: red;*/
        }
        input,
        textarea {
            /** box-shadow: 0px 5px 0px 0px $yellow;*/
        }
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        .row {
            .col:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .col:last-child {
                img {
                    filter: grayscale(0%) contrast(90%) sepia(40%) brightness(0.8);
                    width: 500px;
                    max-width: 100vw;
                    height: 600px;
                    object-fit: cover;
                    object-position: 0% 0%;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100px;
                        height: 200px;
                        background-color: red;
                        top: 0;
                        z-index: 100;
                    }
                }
            }
        }

        text-align: center;
        border: 5px solid;
        border-radius: 20px;
        box-shadow: 10px 10px 0px $yellow;
    }
}

.programs {
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: center;
    }
    .image {
        width: 100%;
        height: 100%;
        max-height: 60vh;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .video {
        width: 2000px;
        position: relative;
        left: -700px;
        top: 0;
    }

    .text:first-child {
        border-left: 10px solid $yellow;
    }
    .text:nth-child(2) {
        border-right: 10px solid $color1;
    }
}

.to-home {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 0;

    font-size: 2.5rem;

    color: $white;
    padding: 1rem 1.8rem;
    border-radius: 50%;
    z-index: 100;
    margin: 2rem 1rem;
    background-color: rgba($black, 0.8);
    border: 1px solid $black;
    box-shadow: 0 0 5px $black;
    scale: 0.8;

    backdrop-filter: blur(5px);

    transition: all 0.3s ease-in-out;
    &:hover {
        scale: 0.9;
    }
    &.active {
        visibility: visible;
    }
}

@media screen and (max-width: 768px) {
    .navbar-collapse {
        .nav-link {
            padding-left: 1rem;
        }
    }
    .about {
        .container {
            max-height: 80vh;
            overflow: hidden;
            width: calc(100% - 20px);
            padding-top: 5rem;
            .display-2 {
                font-size: 2rem;
            }
            .display-6 {
                font-size: 1.4rem;
            }
            img {
                width: 100px;
            }
        }
    }
    .programs {
        padding-bottom: 10rem;
        .container {
            padding-top: 1rem;

            .row {
                margin: 5rem 0 0 0;

                max-height: 80vh;
                overflow: hidden;
                .col-md-6 {
                }
                .text {
                    padding: 1rem;
                }
                .image {
                    .video {
                        width: 200%;
                        left: -160px;
                    }
                }
            }

            .music-selection,
            .microphone {
                .col-md-6:first-child {
                    order: 2;
                }
                .col-md-6:last-child {
                    order: 1;
                }
            }
        }
    }
    .contact {
        .container {
            .row {
                .col-md-4 {
                    order: 2;
                    margin-top: 5rem;
                    .nav {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .about {
        .container {
            padding: 0;
            .row {
                .col {
                    max-width: 50%;
                    padding: 1rem;
                }
                .col:first-child {
                    display: flex;
                    height: 100%;

                    align-items: center;
                    justify-content: center;
                    .display-2 {
                        font-size: 1.8rem;
                    }
                    .display-6 {
                        font-size: 1.2rem;
                    }
                }
                .col:last-child {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .programs {
        .row {
            flex-direction: column;
            height: calc(100vh - 100px);
            width: 100%;
            .col-md-6 {
                width: 50%;

                height: 100%;
                .image {
                    padding: 1rem;

                    display: flex;
                    .video {
                        top: 0;
                        left: -800px;
                    }

                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
}

.navbar {
    animation: navbar_gradient linear forwards;
    animation-timeline: scroll();
}
@keyframes navbar_gradient {
    5% {
        background: rgba(0, 0, 0, 0.2);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    100% {
        background: rgba(0, 0, 0, 0.2);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}
